body {
  background-image: url("../images/sonic.jpg");
  font-family: "Exo", sans-serif;
  text-align: left;
  margin-right: 50%;
}
.crystal {
  display: block;
  overflow: hidden;
  height: 175px;
  width: 175px;
  margin: auto;
  background: transparent;
}
.crystal img {
  display: block; /* Otherwise it keeps some space around baseline */
  min-width: 100%; /* Scale up to fill container width */
  min-height: 100%; /* Scale up to fill container height */
  background: transparent;
}
#red {
  float: left;
  background: transparent;
}
#blue {
  float: left;
  background: transparent;
}
#green {
  float: left;
  background: transparent;
}
#yellow {
  float: left;
  background: transparent;
}
.gameFont {
  color: white;
}
/* #win {
  margin-top: 50px;
} */
